= image_tag(@article.picture.data_url, class: 'img-responsive center-block') if @article.picture
h1
  = @article.title
= simple_format(@article.content)
br
br
= link_to 'Back', articles_path

= render template: 'comments/index', locals: { commentable: @comments }

= render template: 'comments/new', locals: { commentable: @article } 
