h1 = @event.title
p = @event.address
= t 'events.show.on_date'
= @event.started_at
br
div 
  = t 'events.show.tags'
  - @tags.each do |tag|
    span.label.label-default = link_to tag, controller: 'tags', action: 'show', id: tag
br
br
= link_to 'Back', events_path

= render template: 'comments/index', locals: { commentable: @comments }

= render template: 'comments/new', locals: { commentable: @event } 
