h1
  = @post.title
= simple_format(@post.content)
br
br
= link_to 'Back', posts_path

= render template: 'comments/index', locals: { commentable: @comments }

= render template: 'comments/new', locals: { commentable: @post } 
