.elipsis_4_lines {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 4.3em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.1;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  margin-right: 5px
}

.label {
  margin-right: 5px
}

.label > a {
  color: white
}

.tag_cloud > span {
    display: inline-block;
    padding-right: 4px;
}

.tag_0 {
  font-size: 0.5em
}

.tag_10 {
  font-size: 1.0em
}

.tag_20 {
  font-size: 1.5em
}

.tag_30 {
  font-size: 2.0em
}

.tag_40 {
  font-size: 2.5em
}

.tag_50 {
  font-size: 3.0em
}

.tag_60 {
  font-size: 3.5em
}

.tag_70 {
  font-size: 4.0em
}
